.env
venv
__pycache__
draft.txt
static/uploads
# this is local folder for testing the front end
testing
# config.py

mydb.sql
# command to dump database informaion insertion data only
# zsh,bash>> mysqldump -u ahmed -p --no-create-info graduation > mydb.sql
.hintrc
.DS_Store
pyvenv.cfg