{% extends "layout.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Admin Dashboard</h1>
    <p>Welcome, {{ current_user.username }}!</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ url_for('admin.manage_users') }}">Manage Users</a></li>
        <li class="list-group-item"><a href="#">Manage Orders</a></li>
        <li class="list-group-item"><a href="{{ url_for('admin.manage_items') }}">Manage Items</a></li>
        <li class="list-group-item"><a href="{{ url_for('admin.manage_tags') }}">Manage Tags</a></li>
        <li class="list-group-item"><a href="{{ url_for('admin.manage_categories') }}">Manage Categories</a></li>
        <li class="list-group-item"><a href="{{ url_for('admin.admin_logout') }}">Logout</a></li>
    </ul>
</div>
{% endblock %}