:root{
    --pink:#e5345b;
}
.accountstat{
   display: hide;

}
.main-c{
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}
.iconsss{
     color: var(--pink);
    font-size: 20px;
    padding: 10px;
}
.btn-primary {
    --bs-btn-bg: var(--pink);
    border: none;
}
.row button{
    border: none;
    color: #333;
    justify-content: center;
    width: 200px;
    border: solid 1px var(--pink);
    border-radius: 5px;
    margin: 10px;

    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
  
    transition: all 0.3s ease-in-out;
    margin: 10px 0px;

}
.row button:hover{
    background-color: var(--pink) !important;
    color: white !important; 
    border-radius: 5px;

   
}
.row button:active{
    background-color: var(--pink) !important;
    color: white !important; 
    border-radius: 5px;
    /* width: 95px; */
    background: var(--pink);

   
}
.dynamic-page{
    background: white;
    border-radius: 10px;
    padding: 15px;

}
.col{
    width: 260px;
}
