<div class="product-list">
  <div
    class="card position-relative shadow-sm border-0 rounded-4 overflow-hidden"
  >
    <!-- Love Icon -->
    <div
      class="position-absolute top-0 start-0 m-3 d-flex align-items-center gap-1"
    >
      <!-- <i class="fas fa-heart text-danger"></i> -->
      <!-- <small class="text-muted">You love this!</small> -->
    </div>

    <!-- Image -->
    {% if item.images and item.images|length > 0 %}
    <img
      src="{{ url_for('static', filename=''+item.images[0].image_url) }}"
      class="item-image"
      alt="{{ item.item_name }}"
    />
    {% else %}
    <img
      src="{{ url_for('static', filename='images/no_image.png') }}"
      class="card-img-top"
      alt="No Image"
    />
    {% endif %}

    <!-- Card Body -->
    <div class="card-body text-center">
      <a
        class="card-title fw-semibold mb-1"
        href="{{ url_for('item.item_detail', item_id=item.item_id) }}"
      >
        {{ item.item_name }}
      </a>
      <p class="card-text mb-1">
        <span class="fw-bold fs-4 price">${{ item.item_price }}</span>
      </p>
      <p class="card-text text-muted small">
        {{ item.item_description[:100] }}...
      </p>
      <button
        class="btn rounded-pill px-4 mt-2 add-to-cart"
        data-item-id="{{ item.item_id }}"
      >
        add to cart
      </button>

      <button
        class="btn btn-dark rounded-pill px-4 mt-2 w-100 add-to-wishlist"
        data-item-id="{{ item.item_id }}"
      >
        add to wishlist
      </button>
    </div>
  </div>
</div>
