<div class="container-x handshake">
  <footer>
    <div class="text-center text-lg-start text-white fatter">
      <section class="d-flex justify-content-between p-4 social-media">
        <div class="left">
          <span>Get connected with us on social networks:</span>
        </div>

        <div class="right">
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>

      <section>
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="section-title" style="color: #e5345b">SOUQKHANA</h6>
              <hr />
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum
                hic blanditiis dicta, consequatur sit esse necessitatibus non ad
                accusamus velit?
              </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="section-title">category</h6>
              <hr />
              <p>
                <a href="#!" class="text-white">Link</a>
              </p>
              <p>
                <a href="#!" class="text-white">Link</a>
              </p>
              <p>
                <a href="#!" class="text-white">Link</a>
              </p>
              <p>
                <a href="#!" class="text-white">Link Link</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="section-title">LINKS</h6>
              <hr />
              <p>
                <a href="#!" class="text-white">Link</a>
              </p>
              <p>
                <a href="#!" class="text-white">Link</a>
              </p>
              <p>
                <a href="#!" class="text-white">Link</a>
              </p>
              <p>
                <a href="#!" class="text-white">Link</a>
              </p>
            </div>

            <div
              class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contaact"
            >
              <h6 class="section-title">Contact</h6>
              <hr />
              <p><i class="fas fa-home mr-3"></i> Iraq, Kirkuk, Saiada</p>
              <p>
                <a href="mailto:souqkhana@gmail.com"
                  ><i class="fas fa-envelope mr-3"></i> souqkhana@gmail.com</a
                >
              </p>
              <p>
                <a href="tel:+9647800280007">
                  <i class="fas fa-phone mr-3"></i> + 780-xxx-xxxx</a
                >
              </p>
              <p>
                <a href="tel:+9647800280007">
                  <i class="fas fa-phone mr-3"></i> + 770-xxx-xxxx</a
                >
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-3 copyright">
        © 2025 Copyright:
        <a class="text-white" href="#" style="color: #e5345b !important"
          >SOUQKAHAN.COM</a
        >
      </div>
    </div>
  </footer>
</div>
