<div class="container-x handshake">
  <footer>
    <div class="text-center text-lg-start text-white fatter">
      <section class="d-flex justify-content-between p-4 social-media">
        <div class="left">
          <span>Get connected with us on social networks:</span>
        </div>

        <div class="right">
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>

      <section>
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="section-title slogan">SOUQKHANA</h6>
              <hr />
              <p class="desc">
                Souq Khana is an Iraqi e-commerce website that offers a wide
                range of products, including electronics, clothing, beauty
                products, home goods, and more. The platform aims to provide a
                convenient online shopping experience for customers in Iraq,
                allowing them to browse and purchase items with ease.
              </p>
            </div>
            {% if current_user.is_authenticated %} {% if current_user.role !=
            'admin' %}

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="section-title">My account</h6>
              <hr />
              <p>
                <a
                  href="{{ url_for('user.user_dashboard') }}"
                  class="text-white"
                  >My account</a
                >
              </p>
              <p>
                <a href="{{ url_for('cart.view_cart') }}" class="text-white"
                  >View cart</a
                >
              </p>
              <p>
                <a
                  href="{{ url_for('wishlist.view_wishlist') }}"
                  class="text-white"
                  >wishlist</a
                >
              </p>
            </div>

            {% endif %} {% else %}
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="section-title">My account</h6>
              <hr />
              <p>
                <a href="{{ url_for('user.user_login') }}" class="text-white"
                  >My account</a
                >
              </p>
              <p>
                <a href="{{ url_for('user.user_login') }}" class="text-white"
                  >View cart</a
                >
              </p>
              <p>
                <a href="{{ url_for('user.user_login') }}" class="text-white"
                  >wishlist</a
                >
              </p>
            </div>
            {% endif %}

            <div
              class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contaact"
            >
              <h6 class="section-title">Contact</h6>
              <hr />
              <p><i class="fas fa-home mr-3"></i> Iraq, Kirkuk, Saiada</p>
              <p>
                <a href="mailto:contact@souqkhana.com"
                  ><i class="fas fa-envelope mr-3"></i> contact@souqkhana.com</a
                >
              </p>
              <p>
                <a href="tel:+9647800280007">
                  <i class="fas fa-phone mr-3"></i> + 780-xxx-xxxx</a
                >
              </p>
              <p>
                <a href="tel:+9647800280007">
                  <i class="fas fa-phone mr-3"></i> + 770-xxx-xxxx</a
                >
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-3 copyright">
        © 2025 Copyright:
        <a class="text-white" href="#" style="color: #e5345b !important"
          >SOUQKHANA.COM</a
        >
      </div>
    </div>
  </footer>
</div>
