{% extends "layout.html" %}
{% block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='order_table.css') }}"
/>

{% endblock %}
 {% block title %}{{ item.item_name }}{% endblock %}
{% block content %}

  <div class="product-details">
    <div class="item_img">
      {% if item.images %}
      <img
      
        src="/static/{{ item.images[0].image_url }}"
        alt="{{ item.item_name }}"
       
      />
      {% else %}
      <img
        width="200"
        src="{{ url_for('static', filename='images/no_image.png')}}"
        alt="Placeholder"
        class="w-full"
      />
      {% endif %}
    </div>
    <div class="item-info">
      <h1 class="item-name" >{{ item.item_name }}</h1>
      <p class="item-desc" >
        {{ item.item_description }}
      </p>
      <div class="item-price">
        Price: <span > ${{ item.item_price }}</span>
      </div>
      <form
        action="{{ url_for('cart.add_to_cart', item_id=item.item_id) }}"
        method="POST"
      >
        <button
          type="submit"
          class="add-to-cart-btn"
        >
          Adds to Cart
        </button>
      </form>
    
      </form>
    </div>

</div>
</div>
<script>
 document.addEventListener("DOMContentLoaded", function () {
    const contentBody = document.querySelector(".contentbody");
    if (contentBody) {
        contentBody.style.display = "flex";
        contentBody.style.justifyContent = "center";
        contentBody.style.alignItems = "center";
        contentBody.style.height = "100%"; // Optional: Ensure it takes full height
    }
});
</script>
{% endblock %}
