<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SOUQKHANA{% endblock %}</title>
    <!-- <link rel="stylesheet" href="../static/layoutStyle.css" />
    <link rel="stylesheet" href="../static/shoopingcart.css" /> -->
    <!-- <link rel="stylesheet" href="../static/all.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='layoutStyle.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='shoopingcart.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/icon.avif') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='footerstyle.css') }}"
    />
    {% block link %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 top">
      <div class="container">
        <a
          class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
          href="{{ url_for('index.index') }}"
        >
          <img
            src="{{ url_for('static', filename='images/icon.avif') }}"
            alt="site icon"
          />
          <span class="text-uppercase fw-lighter ms-2">SOUQ KHANA</span>
        </a>

        {% if current_user.is_authenticated %} {% if current_user.role !=
        'admin' %}
        <div class="order-lg-2 nav-btns">
          <a href="{{ url_for('user.user_dashboard') }}">
            <button type="button" class="btn position-relative">
              <i class="fa-1x fa-solid fa-user" title="User Dashboard"></i>
            </button>
          </a>
          <a href="{{ url_for('user.user_messages') }}">
            <button type="button" class="btn position-relative">
              <i class="fa-1x fa-solid fa-message" title="messages"></i>
              <span
                id="messages-badge"
                class="position-absolute top-0 start-100 translate-middle badge bg-primary"
                >{{ unread_messages_count }}</span
              >
            </button>
          </a>
          <!-- <a href="{{ url_for('cart.view_cart') }}"> -->
          <a id="cart-icon">
            <button type="button" class="btn position-relative">
              <i class="fa-1x fa fa-shopping-cart" title="cart"></i>
              <span
                id="cart-badge"
                class="position-absolute top-0 start-100 translate-middle badge bg-primary"
                >{{ cart_count }}</span
              >
            </button>
          </a>
          <a href="{{ url_for('wishlist.view_wishlist') }}">
            <button type="button" class="btn position-relative">
              <i class="fa-1x fa fa-heart" title="wishlist"></i>
              <span
                id="wishlist-badge"
                class="position-absolute top-0 start-100 translate-middle badge bg-primary"
                >{{ wishlist_count }}</span
              >
            </button>
          </a>
          <a href="{{ url_for('user.user_logout') }}">
            <button type="button" class="btn position-relative">
              <i class="fa-1x fa fa-sign-out" title="logout"></i>
            </button>
          </a>
          <div
            id="flash-messages"
            class="position-fixed top-0 start-50 translate-middle-x mt-3"
            style="z-index: 1050; max-width: 90%"
          ></div>
          {% endif %} {% endif %}
          <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navMenu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse order-lg-1" id="navMenu">
          <ul class="navbar-nav mx-auto text-center">
            {% if current_user.is_authenticated %} {% if current_user.role ==
            'admin' %}

            <li class="nav-item px-1 py-1 d-flex flex-column">
              <a href="{{ url_for('admin.admin_dashboard') }}">
                <button type="button" class="btn position-relative d-flex">
                  <i class="fa-solid fa-user fa-2x" title="messages"> </i>
                  Dashboard
                </button>
              </a>
            </li>
            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="{{ url_for('admin.admin_logout') }}"
                >Logout</a
              >
            </li>
            {% else %}

            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="/category/electronics"
                >Electronics</a
              >
            </li>
            <li class="nav-item px-2 py-2">
              <a class="nav-link text-uppercase text-dark" href="/category/Home"
                >Home & Appliance</a
              >
            </li>
            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="/category/Health"
                >Health</a
              >
            </li>
            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="/category/Tools"
                >Tools</a
              >
            </li>

            {% endif %} {% else %}

            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="/category/electronics"
                >Electronics</a
              >
            </li>
            <li class="nav-item px-2 py-2">
              <a class="nav-link text-uppercase text-dark" href="/category/Home"
                >Home</a
              >
            </li>
            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="/category/Health"
                >Health</a
              >
            </li>
            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="/category/Tools"
                >Tools</a
              >
            </li>

            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="{{ url_for('user.user_register') }}"
                >Register</a
              >
            </li>
            <li class="nav-item px-2 py-2">
              <a
                class="nav-link text-uppercase text-dark"
                href="{{ url_for('user.user_login') }}"
                >Login</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
      <div class="cart">
        <h2 class="cart-title">Your cart</h2>
        {% if cart and cart.items %} {% for item in cart.items %}
        <div class="cart-content">
          <div class="cart-box">
            <img
              src="/static/{{(item.item.images[0].image_url) }}"
              alt="{{ item.item.item_name }}"
            />
            <div class="cart-details">
              <h2 class="cart-product-title">{{ item.item.item_name }}</h2>
              <span class="cart-price">${{ item.item.item_price }}</span>

              <div class="cart-quantity">
                <button
                  id="decrement"
                  data-cart-item-id="{{ item.cart_item_id }}"
                  data-action="decrease"
                  class="update-quantity"
                >
                  -
                </button>
                <span class="number quantity">{{ item.quantity }}</span>
                <button
                  id="increment"
                  data-cart-item-id="{{ item.cart_item_id }}"
                  data-action="increase"
                  class="update-quantity"
                >
                  +
                </button>
              </div>
              <span class="cart-price carttotal{{ item.cart_item_id }}"
                >total ${{ item.item.item_price * item.quantity }}</span
              >
            </div>

            <!-- <form
              action="{{ url_for('cart.remove_from_cart', cart_item_id=item.cart_item_id) }}"
              method="POST"
              class="mt-2"
            > -->
            <button
              class="remove-from-cart btn-nonestyle"
              data-cart-item-id="{{ item.cart_item_id }}"
            >
              <i class="fa-solid fa-trash cart-remove"></i>
            </button>
            <!-- </form> -->
          </div>
        </div>
        {% endfor %}

        <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">$0</div>
        </div>
        <button class="btn-buy">
          <a href="{{ url_for('order.checkout') }}" class="btn-nonestyle"
            >Buy now</a
          >
        </button>

        {% else %}
        <p>Your cart is empty.</p>
        {% endif %}
        <i class="fa-solid fa-close" id="cart-close"></i>
      </div>
    </div>

    <div class="container mt-4">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
      <div class="contentbody">{% block content %}{% endblock %}</div>
    </div>
    <script src="{{ url_for('static', filename='/js/layout.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    {% if show_footer %} {% extends 'footer.html' %} {% endif %}
  </body>
</html>
