{% extends "layout.html" %}

{% block title %}User Login{% endblock %}

{% block content %}
<div class="card mx-auto mt-5" style="max-width: 400px">
    <div class="card-body">
        <h1 class="card-title text-center mb-4">User Login</h1>
        <form action="{{ url_for('user.user_login') }}" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
        </form>
        <div class="text-center">
            <p class="mb-2">Or login with:</p>
            <a href="{{ url_for('google.login') }}" class="btn btn-outline-dark">
                <img src="https://img.icons8.com/color/16/000000/google-logo.png" class="mr-2">
                Google
            </a>
        </div>
    </div>
</div>
{% endblock %}