{% extends "layout.html" %} {% block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='loginstyle.css') }}"
/>
{% endblock %} {% block title %}User Login{% endblock %} {% block content %}

<div class="login-container m-auto mt-4">
  <div class="login-box">
    <div class="signin-section">
      <form action="{{ url_for('user.user_login') }}" method="POST" target="">
        <h2>Sign In</h2>

        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Username"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <div class="options">
          <a href="#">Forgot Password</a>
        </div>
        <button type="submit" value="Login">Sign In</button>
        <a href="{{ url_for('user.user_register') }}" class="mobile-btn"
          >Sign Up</a
        >
        <div class="text-center">
          <p class="mb-2">Or login with</p>
          <a href="{{ url_for('google.login') }}" class="btn btn-outline-dark">
            <img
              src="https://img.icons8.com/color/16/000000/google-logo.png"
              class="mr-2"
            />
            Google
          </a>
        </div>
      </form>
    </div>
    <div class="welcome-section text-center">
      <h2>
        Welcome to <br />
        SOUQKHANA
      </h2>
      <br />
      <p>Don’t have an account?</p>
      <a href="{{ url_for('user.user_register') }}" class="signup-btn"
        >Sign Up</a
      >
    </div>
  </div>
</div>

{% endblock %}
