{% extends "layout.html" %} {% block title %}User Dashboard{% endblock %} {%
block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='user_dashboard.css') }}"
/>
{% endblock %} {% block content %}
<div class="container mt-4 main-c">
  <!-- <h1>Welcome, {{ user.username }}!</h1>
  <hr /> -->

  <h4 class="">My account |<i class="fa-solid fa-house iconsss"></i></h4>
  <div class="items">
    <div class="row">
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.user_profile') }}"
        >
          <div class="row">
            <div class="col-2"><i class="fa-solid fa-user"> </i></div>
            <div class="col">Profile</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.change_password') }}"
        >
          <div class="row">
            <div class="col-2"><i class="fa-solid fa-lock"> </i></div>
            <div class="col">Password</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.add_address') }}"
        >
          <div class="row">
            <div class="col-2"><i class="fa-solid fa-location-dot"> </i></div>
            <div class="col">Address</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('order.view_orders') }}"
        >
          <div class="row">
            <div class="col-2"><i class="fa-solid fa-user"> </i></div>
            <div class="col">Orders</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.user_messages') }}"
        >
          <div class="row">
            <div class="col-2"><i class="fa-solid fa-envelope"> </i></div>
            <div class="col">Messages</div>
          </div>
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.user_payments') }}"
        >
          <div class="row">
            <div class="col-2"><i class="fa-solid fa-money-bill"> </i></div>
            <div class="col">Payment</div>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="dynamic-page"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $(".load-content").click(async function() {
      let pageUrl = $(this).data("url");
      console.log("Loading:", pageUrl);
      
      $(".dynamic-page").html(`<div class="text-center p-3"><i class="fa fa-spinner fa-spin fa-2x"></i></div>`);
  
      try {
        const response = await fetch(pageUrl);
        const text = await response.text();
        const parser = new DOMParser();
        const doc = parser.parseFromString(text, "text/html");
        
        let content = "";
        if(doc.querySelector(".contentbody")) {
          content = doc.querySelector(".contentbody").innerHTML;
        } else if(doc.querySelector(".dynamic-page")) {
          content = doc.querySelector(".dynamic-page").innerHTML;
        } else if(doc.querySelector(".main-c")) {
          content = doc.querySelector(".main-c").innerHTML;
        } else {
          content = doc.body.innerHTML;
        }
  
        $(".dynamic-page").html(content);
        
        const scripts = [];
        doc.querySelectorAll('script').forEach(script => {
          if(script.src) {
            const newScript = document.createElement('script');
            newScript.src = script.src;
            document.body.appendChild(newScript);
          } else {
            scripts.push(script.innerHTML);
          }
        });

        setTimeout(() => {
          scripts.forEach(code => {
            try { eval(code); } 
            catch(e) { console.error('Script execution error:', e); }
          });
        }, 100);
  
      } catch (error) {
        console.error("Load error:", error);
        $(".dynamic-page").html(`<div class="alert alert-danger">Error loading content</div>`);
      }
    });
  });
  </script>

{% endblock %}
