{% extends "layout.html" %} {% block title %}User Dashboard{% endblock %} {%
block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='user_dashboard.css') }}"
/>
{% endblock %} {% block content %}
<div class="container mt-4 main-c">
  <h1>Welcome, {{ user.username }}!</h1>
  <hr />

  <h4 class="">My account |<i class="fa-solid fa-house iconsss"></i></h4>
  <div class="items">
    <div class="row">
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.user_profile') }}"
        >
          Profile
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.change_password') }}"
        >
          Password
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.add_address') }}"
        >
          Address
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('order.view_orders') }}"
        >
          Orders
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.user_messages') }}"
        >
          Messages
        </button>
      </div>
      <div class="col">
        <button
          class="load-content"
          data-url="{{ url_for('user.user_payments') }}"
        >
          Payment
        </button>
      </div>
    </div>
  </div>

  <div class="dynamic-page"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".load-content").click(async function () {
      let pageUrl = $(this).data("url");

      $(".dynamic-page").html("<p>Loading...</p>");

      try {
        let response = await fetch(pageUrl);
        let text = await response.text();

        // Create a temporary div to parse HTML
        let tempDiv = $("<div>").html(text);
        let content = tempDiv.find(".page-content").html();
        let scripts = tempDiv.find("script");

        $(".dynamic-page").hide().html(content).fadeIn(200);

        // Execute scripts manually
        scripts.each(function () {
          $.globalEval(this.innerHTML);
        });
      } catch (error) {
        $(".dynamic-page").html("<p>Error loading content.</p>");
      }
    });
  });
</script>

{% endblock %}
