{% extends "layout.html" %}

{% block title %}User Login{% endblock %}

{% block content %}
<div class="card mx-auto mt-5" style="max-width: 500px;">
    <div class="card-body">
        <h4 class="card-title text-center">User Login</h4>
        <form method="POST" action="{{ url_for('user.user_login') }}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 loginbtn">Login</button>
        </form>
    </div>
</div>
{% endblock %}